.page__advantages {
}

.advantages {
	position: relative;
	background: #CEE8FF;

	&:before {
		position: absolute;
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='1362' height='820' viewBox='0 0 1362 820' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M395.436 819.132C395.436 819.132 595.937 377.629 870.437 342.129C1144.94 306.628 706.999 0.50002 395.436 0.5C83.8739 0.49998 150.968 741.989 10.2835 426.989C-130.401 111.988 1374.44 590.129 1374.44 590.129' stroke='%2386BAE9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
		width: 1362px;
		height: 820px;
		bottom: 0;
		left: 55%;
		transform: translate3d(-55%, 0, 0);
	}
}

.advantages__container {
}

._container {
}

.advantages__titles {
	display: flex;
	padding: 120px 0px 0px 0px;
	position: relative;

	@media (max-width: $breakpoint-medium) {
		padding: 80px 0px 0px 0px;
	}
}

.advantages__title {
	flex: 0 1 50%;
	font-family: 'DM Serif Display';
	font-weight: 400;
	font-size: 64px;
	line-height: calc(88/64*100%);

	color: #105393;

	@media (max-width: $breakpoint-medium) {
		font-size: 48px;
	}
}

.advantages__title_sub-title {
	margin: 10px 0px 0px 27px;
	font-family: Poppins;
	font-weight: 600 ;
	font-size: 32px;
	line-height: calc(48/32*100%);

	@media (max-width: $breakpoint-medium) {
		font-size: 24px;
		position: absolute;
		width: 45%;
		top: 121%;
		right: 3%;
	}
}

.advantages__content {
}

.advantages__row {
	display: flex;
	flex-wrap: wrap;
}

.advantages__row_top {
	justify-content: space-between;
}

.advantages__row_bottom {
	justify-content: space-around;

	@media (max-width: $breakpoint-medium) {
		justify-content: space-between;
	}
}

.advantages__row_bottom > .advantages__column:first-child {
	@media (max-width: $breakpoint-medium) {
		order: 2;
	}
}

.advantages__row_bottom > .advantages__column:last-child {
	@media (max-width: $breakpoint-medium) {
		order: 1;
	}
}

.advantages__column {
	position: relative;
	background: #fff;
	text-align: center;
	border-radius: 50%;
	width: 365px;
	height: 365px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (max-width: $breakpoint-medium) {
		//transform: none !important;
		margin-bottom: 68px;

		width: 320px;
		height: 320px;

		//justify-content: flex-start;
	}
}

.advantages__column:last-child {
	margin-bottom: 91px;
}

.advantages__column::after {
	content: '';
	position: absolute;
	width: 95%;
	height: 95%;
	border-radius: 50%;
	border: 2px dashed #FF8F8F;
	left: 1.8%;
	top: 1.8%;
}

.column-adv {

}

.column-adv__image {
	margin: 0px 0px 8px 0px;
}

.column-adv__title {
	font-weight: 600;
	font-size: 20px;
	line-height: calc(30/20*100%);
	color: #414249;
	margin: 0px 0px 8px 0px;
}

.column-adv__text {
	font-weight: 400;
	font-size: 16px;
	line-height: calc(24/16*100%);
	color: #414249;

	@media (max-width: $breakpoint-medium) {
		font-size: 14px;
		padding-left: 30px;
		padding-right: 30px;
	}

	> br {
		@media (max-width: $breakpoint-medium) {
			display: none;
		}
	}
}

