.advantages {
	position: relative;
	background: #CEE8FF;

	&:before {
		position: absolute;
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='1362' height='820' viewBox='0 0 1362 820' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M395.436 819.132C395.436 819.132 595.937 377.629 870.437 342.129C1144.94 306.628 706.999 0.50002 395.436 0.5C83.8739 0.49998 150.968 741.989 10.2835 426.989C-130.401 111.988 1374.44 590.129 1374.44 590.129' stroke='%2386BAE9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
		width: 1362px;
		height: 820px;
		bottom: 0;
		left: 55%;
		transform: translate3d(-55%, 0, 0);

		@media (max-width: 1154px) {
			width: 611px;
			height: 1150px;
			top: 15.5%;
			left: 43.6%;
			background-image: url("data:image/svg+xml,%3Csvg width='611' height='1150' viewBox='0 0 611 1150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-208.704 395.627C-208.704 395.627 232.798 596.127 268.299 870.627C303.8 1145.13 609.928 707.19 609.928 395.627C609.928 84.0643 -131.562 151.158 183.439 10.4739C498.44 -130.211 20.2985 1374.63 20.2985 1374.63' stroke='%2386BAE9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
		}

		@media (max-width: 639px) {
			width: 320px;
			height: 499px;
			top: 1%;
			left: 55%;
			background-image: url("data:image/svg+xml,%3Csvg width='320' height='499' viewBox='0 0 320 499' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M284.124 0.999964C284.124 0.999964 162.276 269.31 -4.54331 290.885C-171.363 312.459 94.7812 498.5 284.124 498.5C473.468 498.5 432.693 47.8812 518.19 239.314C603.687 430.746 -310.834 140.17 -310.834 140.17' stroke='%2386BAE9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
		}
	}

	&__titles {
		display: flex;
		padding: 120px 0px 0px 0px;
		position: relative;

		@media (max-width: 1154px) {
			padding: 80px 0px 0px 0px;
		}

		@media (max-width: 752px) {
			flex-wrap: wrap;
			text-align: center;
		}
	}

	&__title {
		flex: 0 1 50%;
		font-family: 'DM Serif Display';
		font-weight: 400;
		font-size: 64px;
		line-height: calc(88/64*100%);

		color: #105393;

		@media (max-width: 1154px) {
			font-size: 48px;
		}

		@media (max-width: 752px) {
			font-size: 32px;
			line-height: calc(40/32*100%);
			flex-basis: 100%;
			margin-bottom: 10px;
		}
	}

	&__title_sub-title {
		margin: 10px 0px 0px 27px;
		font-family: Poppins;
		font-weight: 600 ;
		font-size: 32px;
		line-height: calc(48/32*100%);

		@media (max-width: 1154px) {
			font-size: 24px;
			position: absolute;
			width: 45%;
			top: 121%;
			right: 3%;
		}

		@media (max-width: 752px) {
			font-size: 24px;
			line-height: calc(36/24*100%);
			flex-basis: 100%;
			position: static;
			margin: 0 auto 40px auto;
			max-width: 90%;
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: 639px) {
			justify-content: center;
		}

		& .slick-dots {
			z-index: 999;
			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			left: 50%;
			bottom: 17.5%;
			transform: translate3d(-50%, -6%, 0);
		}

		li {
			list-style: none;
			margin: 0 4px;

			&.slick-active button{
				background: #105393;
				opacity: 1;
			}
		}

		button {
			font-size: 0;
			width: 15px;
			height: 15px;
			background: #fff;
			opacity: .7;
			border: none;
			border-radius: 50%;

			@media (max-width: $breakpoint-medium) {
				width: 8px;
				height: 8px;
				padding: 0;
			}
		}
	}

	&__slide {
		&.slick-slide .column-adv {
			margin: 0 auto;
		}

		&.slick-active .column-adv {

		}

		@media (max-width: 1154px) {
			margin-bottom: 68px;
			transform: translate(0, 0) !important;
		}

		@media (max-width: 1154px) {
			margin-bottom: 68px;
			transform: translate(0, 0) !important;
		}

		@media (max-width: 639px) {
			transform: translate(0, 0) !important;

			&.slick-active {
				z-index: 999;
				//margin-right: -20px;
				//margin-left: -20px;
			}
		}

		&:nth-child(1) {
			@media (max-width: 1154px) {
				transform: translate(0px, 40px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(2) {
			@media (max-width: 1154px) {
				transform: translate(0px, 228px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(3) {
			@media (max-width: 1154px) {
				transform: translate(0px, 40px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(4) {
			margin-left: auto;
			margin-right: auto;

			@media (max-width: 1154px) {
				margin-left: 0;
				margin-right: 0;
				transform: translate(0px, 227px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(5) {
			margin-bottom: 180px;
			margin-left: auto;
			margin-right: auto;

			@media (max-width: 1154px) {
				margin-bottom: 120px;
				margin-left: 0;
				margin-right: 0;
				transform: translate(0px, 40px) !important;
			}

			@media (max-width: 639px) {
				margin-bottom: 128px;
				transform: translate(0, 0) !important;
			}
		}
	}

	&__column {
		position: relative;
		background: #fff;
		text-align: center;
		border-radius: 50%;
		width: 365px;
		height: 365px;

		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: 1019px) {
			width: 320px !important;
			height: 320px !important;
		}

		&::after {
			content: '';
			position: absolute;
			width: 95%;
			height: 95%;
			border-radius: 50%;
			border: 2px dashed #FF8F8F;
			left: 1.8%;
			top: 1.8%;
		}
	}
}

.column-adv {
	&__image {
		margin: 0px 0px 8px 0px;
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: calc(30/20*100%);
		color: #414249;
		margin: 0px 0px 8px 0px;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: calc(24/16*100%);
		color: #414249;

		@media (max-width: 1154px) {
			font-size: 14px;
			padding-left: 30px;
			padding-right: 30px;
		}

		> br {

			@media (max-width: 1154px) {
				display: none;
			}
		}
	}
}
