.advantages {
	position: relative;
	background: #CEE8FF;

	&:before {
		position: absolute;
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg width='1362' height='820' viewBox='0 0 1362 820' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M395.436 819.132C395.436 819.132 595.937 377.629 870.437 342.129C1144.94 306.628 706.999 0.50002 395.436 0.5C83.8739 0.49998 150.968 741.989 10.2835 426.989C-130.401 111.988 1374.44 590.129 1374.44 590.129' stroke='%2386BAE9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
		width: 1362px;
		height: 820px;
		bottom: 0;
		left: 55%;
		transform: translate3d(-55%, 0, 0);

		@media (max-width: 1154px) {
			width: 611px;
			height: 1150px;
			top: 15.5%;
			left: 43.6%;
			background-image: url("data:image/svg+xml,%3Csvg width='611' height='1150' viewBox='0 0 611 1150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-208.704 395.627C-208.704 395.627 232.798 596.127 268.299 870.627C303.8 1145.13 609.928 707.19 609.928 395.627C609.928 84.0643 -131.562 151.158 183.439 10.4739C498.44 -130.211 20.2985 1374.63 20.2985 1374.63' stroke='%2386BAE9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
		}

		@media (max-width: 639px) {
			width: 320px;
			height: 499px;
			top: 1%;
			left: 55%;
			background-image: url("data:image/svg+xml,%3Csvg width='320' height='499' viewBox='0 0 320 499' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M284.124 0.999964C284.124 0.999964 162.276 269.31 -4.54331 290.885C-171.363 312.459 94.7812 498.5 284.124 498.5C473.468 498.5 432.693 47.8812 518.19 239.314C603.687 430.746 -310.834 140.17 -310.834 140.17' stroke='%2386BAE9' stroke-dasharray='8 8'/%3E%3C/svg%3E%0A");
		}
	}

	&__titles {
		display: flex;
		padding: 120px 0px 0px 0px;
		position: relative;

		@media (max-width: 1154px) {
			padding: 80px 0px 0px 0px;
		}

		@media (max-width: 752px) {
			flex-wrap: wrap;
			text-align: center;
		}
	}

	&__title {
		flex: 0 1 50%;
		font-family: 'DM Serif Display';
		font-weight: 400;
		font-size: 64px;
		line-height: calc(88/64*100%);

		color: #105393;

		& .icon-title::after {
			background-image: url("data:image/svg+xml,%3Csvg width='92' height='103' viewBox='0 0 92 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.8456 35.66C72.6941 33.542 69.7526 29.8709 67.4544 31.8012C60.9748 37.2399 52.7849 43.7197 48.3759 50.9844C47.0747 53.1279 49.9475 55.0369 51.7803 53.9685C58.9212 49.8324 65.4727 41.8344 70.8456 35.66Z' fill='%23FF8F8F'/%3E%3Cpath d='M34.5711 21.8932C33.8191 19.1843 29.1353 19.6213 29.483 22.6024C30.4606 31.0054 31.3666 41.4093 35.008 49.0875C36.0823 51.3532 39.2568 50.0043 39.3728 47.8861C39.8469 39.6474 36.7716 29.7766 34.5711 21.8932Z' fill='%23FF8F8F'/%3E%3Cpath d='M20.5177 48.1723C16.4316 43.6321 11.3736 40.1503 6.52543 36.4897C3.933 34.5381 0.973949 38.3215 3.41277 40.4388C7.99875 44.4321 12.461 48.6261 17.7509 51.6826C19.7084 52.8238 22.0087 49.8179 20.5177 48.1723Z' fill='%23FF8F8F'/%3E%3Cpath d='M78.8308 69.4057C71.5445 67.0786 64.0979 65.3237 56.8668 62.7867C53.631 61.6497 51.1484 66.2466 54.4589 67.7236C62.0793 71.1056 70.1377 73.6332 78.5176 73.8467C81.2668 73.9112 81.0546 70.1122 78.8308 69.4057Z' fill='%23FF8F8F'/%3E%3C/svg%3E%0A");
			top: -88px;
			left: -33px;
			width: 80px;
			height: 75px;

			@media (max-width: 1154px) {
				background-image: url("data:image/svg+xml,%3Csvg width='49' height='41' viewBox='0 0 49 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.3046 2.94236C25.8522 1.32816 28.7189 1.73421 28.4113 3.5252C27.5459 8.57362 26.6616 14.8334 24.1809 19.3631C23.449 20.6998 21.5392 19.7884 21.5345 18.5048C21.502 13.5116 23.7035 7.63976 25.3046 2.94236Z' fill='%23FF8F8F'/%3E%3Cpath d='M43.5151 17.7842C45.1586 17.364 46.335 19.9569 44.6703 20.6714C39.9787 22.6868 34.2613 25.3421 29.1499 25.7395C27.6417 25.857 27.3954 23.7827 28.4693 23.0842C32.6394 20.3554 38.7286 19.0005 43.5151 17.7842Z' fill='%23FF8F8F'/%3E%3Cpath d='M34.0026 33.0534C37.6104 33.8109 40.9608 35.4005 44.3408 36.8256C46.1451 37.5895 45.0684 40.2942 43.2242 39.6614C39.7501 38.4751 36.2089 37.4149 33.0101 35.574C31.8211 34.896 32.6919 32.7736 34.0026 33.0534Z' fill='%23FF8F8F'/%3E%3Cpath d='M5.26517 8.96532C8.70735 12.0705 11.899 15.4347 15.4342 18.4467C17.017 19.794 15.3694 22.5014 13.5859 21.219C9.48962 18.2616 5.70683 14.8133 3.03681 10.4884C2.16378 9.06782 4.2166 8.01641 5.26517 8.96532Z' fill='%23FF8F8F'/%3E%3C/svg%3E%0A");
				top: -44px;
				left: -20px;
				width: 45px;
				height: 40px;
			}

			@media (max-width: 752px) {
				background-image: url("data:image/svg+xml,%3Csvg width='57' height='58' viewBox='0 0 57 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.3011 19.5605C44.4253 18.2792 42.6404 15.9996 41.2431 17.1614C37.3036 20.4349 32.3245 24.3305 29.6419 28.7437C28.8502 30.0458 30.5944 31.2441 31.7084 30.6064C36.0489 28.1381 40.0335 23.2957 43.3011 19.5605Z' fill='%23FF8F8F'/%3E%3Cpath d='M21.3428 11.2102C20.885 9.57683 18.0513 9.85439 18.2648 11.6533C18.865 16.7241 19.424 23.0032 21.6353 27.6286C22.2877 28.9934 24.2072 28.1697 24.2752 26.8904C24.5535 21.9145 22.6825 15.9637 21.3428 11.2102Z' fill='%23FF8F8F'/%3E%3Cpath d='M12.8749 27.0824C10.4151 24.3366 7.36332 22.2298 4.43919 20.0151C2.87557 18.8344 1.0715 21.1191 2.54157 22.3999C5.30587 24.8155 7.99458 27.3524 11.1882 29.2022C12.3699 29.8929 13.7726 28.0777 12.8749 27.0824Z' fill='%23FF8F8F'/%3E%3Cpath d='M48.1042 39.9269C43.694 38.4983 39.1847 37.4162 34.8086 35.8605C32.8505 35.1633 31.3296 37.9439 33.3319 38.8473C37.9411 40.9162 42.8187 42.4682 47.8992 42.6183C49.566 42.6641 49.4502 40.3606 48.1042 39.9269Z' fill='%23FF8F8F'/%3E%3C/svg%3E%0A");
				top: -50px;
				left: -22px;
				width: 50px;
				height: 44px;
			}
		}

		@media (max-width: 1154px) {
			font-size: 48px;
		}

		@media (max-width: 752px) {
			font-size: 32px;
			line-height: calc(40/32*100%);
			flex-basis: 100%;
			margin-bottom: 10px;
		}
	}

	&__title_sub-title {
		margin: 10px 0px 0px 27px;
		font-family: Poppins;
		font-weight: 600 ;
		font-size: 32px;
		line-height: calc(48/32*100%);

		@media (max-width: 1154px) {
			font-size: 24px;
			position: absolute;
			width: 45%;
			top: 121%;
			right: 3%;
		}

		@media (max-width: 752px) {
			font-size: 24px;
			line-height: calc(36/24*100%);
			flex-basis: 100%;
			position: static;
			margin: 0 auto 40px auto;
			max-width: 90%;
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media (max-width: 639px) {
			justify-content: center;
		}

		& .slick-dots {
			z-index: 999;
			display: flex;
			align-items: center;
			justify-content: center;

			position: absolute;
			left: 50%;
			bottom: 17.5%;
			transform: translate3d(-50%, -6%, 0);
		}

		li {
			list-style: none;
			margin: 0 4px;

			&.slick-active button{
				background: #105393;
				opacity: 1;
			}
		}

		button {
			font-size: 0;
			width: 15px;
			height: 15px;
			background: #fff;
			opacity: .7;
			border: none;
			border-radius: 50%;

			@media (max-width: $breakpoint-medium) {
				width: 8px;
				height: 8px;
				padding: 0;
			}
		}
	}

	&__slide {
		&.slick-slide .column-adv {
			margin: 0 auto;
		}

		&.slick-center {
			@media (max-width: 639px) {
				z-index: 999;
				position: relative;
			}
		}

		&.slick-center .column-adv {
			@media (max-width: 639px) {
				transform: scale(1.1);
			}
		}

		@media (max-width: 1154px) {
			margin-bottom: 68px;
			transform: translate(0, 0) !important;
		}

		@media (max-width: 639px) {
			transform: translate(0, 0) !important;
			padding: 15px 0px;
		}

		&:nth-child(1) {
			@media (max-width: 1154px) {
				transform: translate(0px, 40px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(2) {
			@media (max-width: 1154px) {
				transform: translate(0px, 228px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(3) {
			@media (max-width: 1154px) {
				transform: translate(0px, 40px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(4) {
			margin-left: auto;
			margin-right: auto;

			@media (max-width: 1154px) {
				margin-left: 0;
				margin-right: 0;
				transform: translate(0px, 227px) !important;
			}

			@media (max-width: 639px) {
				transform: translate(0, 0) !important;
			}
		}

		&:nth-child(5) {
			margin-bottom: 180px;
			margin-left: auto;
			margin-right: auto;

			@media (max-width: 1154px) {
				margin-bottom: 120px;
				margin-left: 0;
				margin-right: 0;
				transform: translate(0px, 40px) !important;
			}

			@media (max-width: 639px) {
				margin-bottom: 128px;
				transform: translate(0, 0) !important;
			}
		}
	}

	&__column {
		position: relative;
		background: #fff;
		text-align: center;
		border-radius: 50%;
		width: 365px;
		height: 365px;
		transition: all 0.5s;

		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (max-width: 1019px) {
			width: 320px !important;
			height: 320px !important;
		}

		@media (max-width: 639px) {
			width: 290px !important;
			height: 290px !important;
		}

		&::after {
			content: '';
			position: absolute;
			width: 95%;
			height: 95%;
			border-radius: 50%;
			border: 2px dashed #FF8F8F;
			left: 1.8%;
			top: 1.8%;
		}
	}
}

.column-adv {
	&__image {
		margin: 0px 0px 8px 0px;
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: calc(30/20*100%);
		color: #414249;
		margin: 0px 0px 8px 0px;

		@media (max-width: 639px) {
			margin: 0px 0px 2px 0px;
		}
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: calc(24/16*100%);
		color: #414249;

		@media (max-width: 1154px) {
			font-size: 14px;
			padding-left: 30px;
			padding-right: 30px;
		}

		> br {

			@media (max-width: 1154px) {
				display: none;
			}
		}

		@media (max-width: 639px) {
			font-size: 12px;
			margin-bottom: 10px;
		}
	}
}
