.page__follow-us {
}

.follow-us {
}

.follow-us__wrapper {
	position: relative;
	margin: 120px 0px 0px 0px;
}

.follow-us__wrapper::before {
	position: absolute;
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='109' height='82' viewBox='0 0 109 82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M80.9555 6.69776C79.9782 10.0721 78.8303 13.3742 77.5117 16.6044C75.1153 15.9493 69.3759 14.0934 66.9271 13.4956C63.7467 12.7211 62.5931 15.425 64.4917 17.6045C66.3612 19.7584 71.0486 24.1493 72.9442 26.2746C70.9535 29.8961 68.7061 33.3958 66.1468 36.7769C64.1553 39.3917 67.5321 42.6857 70.3232 41.9583C74.5905 40.8217 78.7354 38.9846 82.8833 37.2016C86.4258 40.9763 90.0482 44.6919 93.8015 48.2643C95.439 52.2271 102.076 50.2778 100.671 46.0027C99.1971 41.4866 97.723 36.9705 96.2213 32.4559C98.7447 31.9067 101.309 31.5999 103.981 31.7226C108.211 31.8943 108.461 25.9485 104.762 24.822C100.665 23.5545 96.5688 22.287 92.4725 21.0195C90.9279 16.2352 89.4095 11.4222 87.9464 6.60614C86.9451 3.09757 81.9313 3.29633 80.9555 6.69776Z' fill='%23CEE8FF'/%3E%3Cpath d='M32.3328 50.2468C31.6615 52.5644 30.873 54.8325 29.9674 57.0512C28.3214 56.6012 24.3792 55.3265 22.6973 54.9159C20.5128 54.3839 19.7204 56.2411 21.0245 57.7381C22.3086 59.2176 25.5282 62.2335 26.8302 63.6932C25.4628 66.1807 23.9192 68.5845 22.1613 70.9068C20.7934 72.7028 23.1128 74.9653 25.0299 74.4657C27.9609 73.685 30.8078 72.4232 33.6569 71.1985C36.09 73.7912 38.5782 76.3433 41.1562 78.797C42.2808 81.5189 46.8396 80.18 45.8746 77.2436C44.8621 74.1417 43.8496 71.0398 42.8182 67.9389C44.5514 67.5617 46.313 67.351 48.1483 67.4353C51.0533 67.5532 51.2254 63.4692 48.6841 62.6955C45.8705 61.8249 43.0569 60.9543 40.2433 60.0837C39.1824 56.7976 38.1394 53.4918 37.1345 50.1838C36.4468 47.774 33.003 47.9105 32.3328 50.2468Z' fill='%23CEE8FF'/%3E%3Cpath d='M12.3328 3.49506C11.6615 5.81273 10.873 8.08084 9.96738 10.2995C8.3214 9.84951 4.37921 8.57479 2.69729 8.16422C0.512803 7.63223 -0.279571 9.48941 1.02452 10.9864C2.30856 12.4659 5.52816 15.4818 6.83017 16.9415C5.46284 19.4289 3.91922 21.8328 2.16129 24.1551C0.793435 25.9511 3.11283 28.2136 5.02988 27.714C7.96092 26.9333 10.8078 25.6714 13.6569 24.4468C16.09 27.0395 18.5782 29.5916 21.1562 32.0453C22.2808 34.7672 26.8396 33.4283 25.8746 30.4919C24.8621 27.39 23.8496 24.2881 22.8182 21.1872C24.5514 20.8099 26.313 20.5993 28.1483 20.6836C31.0533 20.8015 31.2254 16.7175 28.6841 15.9438C25.8705 15.0732 23.0569 14.2026 20.2433 13.332C19.1824 10.0459 18.1394 6.74007 17.1345 3.43213C16.4468 1.02224 13.003 1.15876 12.3328 3.49506Z' fill='%23CEE8FF'/%3E%3C/svg%3E%0A");
	width: 109px;
	height: 81px;
	top: -1%;
	left: 8.5%;
}

.follow-us__wrapper::after {
	position: absolute;
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg width='81' height='77' viewBox='0 0 81 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0084 20.2508C11.0479 27.6426 10.87 35.0344 10.4352 42.4262C9.98066 49.8378 9.1308 57.1703 8.39953 64.5622C8.22165 66.2817 10.6131 67.6849 12.0164 66.6374C12.7872 66.0642 13.2813 65.5899 13.4789 64.6215C13.8149 62.8624 12.0559 61.2813 10.3759 62.2498C10.5143 62.23 10.6526 62.1904 10.8108 62.1707C11.6211 62.981 12.4117 63.7716 13.222 64.5819C14.3881 49.9169 14.1114 34.9554 13.4394 20.2706C13.3603 18.7092 11.0084 18.6894 11.0084 20.2508Z' fill='%23CEE8FF'/%3E%3Cpath d='M22.729 7.04849C21.5431 18.2153 21.4838 29.639 21.385 40.8453C21.3257 46.399 21.2862 51.9528 21.1676 57.5065C21.1083 60.2933 21.0886 63.0602 21.049 65.847C21.0095 68.5547 20.5154 71.4205 20.9107 74.0689C21.1083 75.4326 23.48 75.4326 23.6776 74.0689C24.0334 71.5589 23.5986 68.8907 23.5986 66.3411C23.5986 63.5544 23.6381 60.7874 23.6776 58.0006C23.7567 52.269 23.9346 46.5571 24.2113 40.8453C24.7252 29.639 25.5157 18.2548 25.16 7.04849C25.0809 5.46735 22.8871 5.54641 22.729 7.04849Z' fill='%23CEE8FF'/%3E%3Cpath d='M32.828 8.25414C31.8991 18.2153 32.3339 28.5125 32.571 38.5132C32.6896 43.3949 32.8478 48.2767 33.0256 53.1584C33.1245 55.7673 33.2233 58.3564 33.3616 60.9653C33.4802 63.3567 33.3419 65.8866 33.9743 68.199C34.3498 69.5825 36.7018 69.7604 36.9587 68.199C37.3737 65.8273 37.0575 63.3567 36.9587 60.9653C36.8599 58.3564 36.7808 55.7673 36.682 53.1584C36.5041 48.2767 36.3658 43.3949 36.2274 38.5132C35.931 28.4729 36.0693 18.2351 35.0613 8.25414C34.9032 6.83111 32.9663 6.81135 32.828 8.25414Z' fill='%23CEE8FF'/%3E%3Cpath d='M43.54 21.022C42.7495 29.5997 42.5716 38.1378 42.4728 46.7352C42.4135 50.945 42.453 55.1548 42.4728 59.3448C42.4926 63.6534 42.1566 68.1794 42.71 72.4485C43.0459 75.0969 46.5837 75.1562 46.8802 72.4485C47.3348 68.3178 46.9593 63.9894 46.9593 59.8389C46.9593 55.471 46.979 51.1031 46.9395 46.7352C46.8802 38.1378 46.8407 29.5997 46.2675 21.022C46.1489 19.2432 43.6982 19.263 43.54 21.022Z' fill='%23CEE8FF'/%3E%3Cpath d='M55.2012 1.29704C53.7386 25.7256 53.5212 50.2925 53.3433 74.7606C53.3236 77.4683 57.4938 77.4683 57.5531 74.7606C58.1065 50.2925 58.6204 25.7651 57.8891 1.29704C57.8496 -0.442214 55.3198 -0.422449 55.2012 1.29704Z' fill='%23CEE8FF'/%3E%3Cpath d='M65.1821 19.085C64.7473 27.4848 64.273 35.8056 64.1741 44.2251C64.0753 52.6051 64.2137 60.9851 64.1939 69.3652C64.1939 71.0649 66.8028 71.0649 66.8423 69.3652C67.0004 60.9851 67.3364 52.6249 67.4155 44.2251C67.4945 35.8253 67.2178 27.4848 66.9609 19.085C66.9016 17.9387 65.2414 17.9585 65.1821 19.085Z' fill='%23CEE8FF'/%3E%3Cpath d='M74.0569 2.46322C73.1872 13.5312 73.3453 24.6189 73.2861 35.7264C73.2663 41.1023 73.2465 46.4781 73.2268 51.8738C73.207 57.4868 72.6338 63.4161 73.2861 68.9896C73.5825 71.4799 76.8831 71.4799 77.1796 68.9896C77.8318 63.5939 77.2982 57.803 77.2982 52.3679C77.2982 46.8339 77.2982 41.2801 77.2784 35.7461C77.2587 24.6387 77.4366 13.5509 76.6065 2.48297C76.4879 0.822779 74.1952 0.82279 74.0569 2.46322Z' fill='%23CEE8FF'/%3E%3Cpath d='M0 31.5954C0 36.0226 0.0197594 40.43 0.11858 44.8572C0.158109 46.9917 0.118599 49.146 0.415062 51.241C0.553411 52.2885 0.711503 53.3361 0.948674 54.3638C1.16608 55.3322 1.14633 56.439 1.64043 57.3087C1.77878 57.5656 2.2136 57.5854 2.35195 57.3087C2.78676 56.3995 2.70769 55.352 2.8658 54.3638C3.02392 53.4349 3.12274 52.5257 3.20179 51.5968C3.39944 49.3437 3.24133 47.0906 3.18204 44.8375C3.04369 40.4103 2.80652 36.0028 2.56935 31.5757C2.47053 29.955 0 29.9352 0 31.5954Z' fill='%23CEE8FF'/%3E%3C/svg%3E%0A");
	width: 80px;
	height: 77px;
	//top: -1%;
	//left: 7%;
	top: 19.5%;
	right: 1.6%;
}

.follow-us__content {
	text-align: center;
}

.content-follow-us {
}

.content-follow-us__title {
	font-family: 'DM Serif Display';
	font-weight: 400;
	font-size: 64px;
	line-height: calc(88/64*100%);
	color: #105393;
	margin: 0px 0px 16px 0px;
}

.title-with-icon_l_follow-us::after {
	position: absolute;
	left: -20%;
	top: -38%;
	height: 80px;
	background-image: url("data:image/svg+xml,%3Csvg width='84' height='86' viewBox='0 0 84 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.7368 17.2442C33.2421 15.0666 28.8325 17.0489 30.013 19.6083C33.3379 26.8233 37.1602 35.8596 42.8583 41.5196C44.5395 43.1898 47.2302 40.9008 46.7428 38.959C44.8693 31.3988 39.0985 23.5775 34.7368 17.2442Z' fill='%23FF8F8F'/%3E%3Cpath d='M9.87299 46.568C7.18222 46.7078 6.26234 51.4787 9.08839 51.8034C17.0535 52.7216 26.8296 54.1619 34.8821 52.2593C37.2582 51.6981 36.9183 48.2274 35.0125 47.6344C27.6067 45.3052 17.7073 46.1489 9.87299 46.568Z' fill='%23FF8F8F'/%3E%3Cpath d='M37.737 65.799C32.5 68.5767 27.9495 72.4514 23.2956 76.0995C20.8124 78.0514 23.4093 81.5062 25.9996 79.7274C30.8812 76.3849 35.9098 73.1956 40.1405 69.0238C41.7152 67.4821 39.638 64.7831 37.737 65.799Z' fill='%23FF8F8F'/%3E%3Cpath d='M68.1807 18.1673C63.9278 24.3566 60.162 30.8104 55.7292 36.9059C53.7441 39.6332 57.3162 42.8515 59.6395 40.1259C64.9709 33.848 69.6316 26.9934 72.2285 19.3681C73.0752 16.8654 69.4752 16.2775 68.1807 18.1673Z' fill='%23FF8F8F'/%3E%3C/svg%3E%0A");
}

.content-follow-us__subtitle {
	font-weight: 600;
	font-size: 32px;
	line-height: calc(48/32*100%);
	color: #E86E6E;
	margin: 0px 0px 16px 0px;
}

.content-follow-us__instagram {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 80px 0px;
}

.content-follow-us__inst-profile {
	font-weight: 600;
	font-size: 20px;
	line-height: calc(30/20*100%);
	color: #105393;
}

.content-follow-us__images {
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}

.content-follow-us__image {
	border-radius: 8px;
}

.icon-follow-us-inst {
	margin: 0px 10px 0px 0px;
	font-size: 25px;
	color: #E86E6E;
}
