.making-process {
	&__title {
		text-align: center;
		font-family: 'DM Serif Display';
		font-weight: 400;
		font-size: 64px;
		line-height: calc(88/64*100%);
		color: #E86E6E;

		margin: 120px 0px 0px 0px;

		@media (max-width: $breakpoint-medium) {
			margin: 83px 0px 0px 0px;
			font-size: 48px;
			line-height: calc(65.81/48*100%);
		}

		@media (max-width: $breakpoint-small) {
			margin: 80px auto 0px auto;
			font-size: 32px;
			line-height: calc(40/32*100%);

			width: 80%;
		}
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		margin: 0px 0px 190px 0px;
		flex-direction: column;

		@media (max-width: $breakpoint-medium) {
			margin: 0px 0px 80px 0px;
		}

		@media (max-width: $breakpoint-small) {
			margin-top: -16px;
		}
	}

	&__image {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		margin-top: 48px;

		@media (max-width: $breakpoint-medium) {
			margin-top: 15px;
			position: static;
			text-align: center;
			transform: translate(0, 0);
		}

		@media (max-width: $breakpoint-small) {
			margin-top: 7px;
			margin-bottom: -6px;
		}
	}

	&__column {
		text-align: center;

		&:nth-child(odd) {
			margin-left: 43px;

			@media (max-width: $breakpoint-medium) {
				margin-left: 0px;
				margin-right: 15px;
				//padding: 0 10px;
			}

			@media (max-width: $breakpoint-small) {
				margin-left: 0px;
				margin-right: 0px;
			}
		}

		&:nth-child(even) {
			margin-right: 43px;

			@media (max-width: $breakpoint-medium) {
				margin-right: 0px;
				margin-left: 15px;
				//padding: 0 10px;
			}

			@media (max-width: $breakpoint-small) {
				margin-left: 0px;
				margin-right: 0px;
			}
		}

		@media (max-width: $breakpoint-small) {
			flex: 0 1 100%;
			max-width: 100%;
		}
	}
}

.row-mp {
	display: flex;

	justify-content: space-between;
	width: 100%;

	&:first-child {
		margin-top: 112px;

		@media (max-width: $breakpoint-medium) {
			margin-top: 39px;
		}
	}

	&:last-child {
		@media (max-width: $breakpoint-medium) {
			margin-top: 48px;
		}
	}

	&:not(:last-child) {
		margin-bottom: 33px;
	}

	@media (max-width: $breakpoint-small) {
		flex-wrap: wrap;
	}
}

.column-mp {
	&:not(:last-child) {
		@media (max-width: $breakpoint-small) {
			margin-bottom: 24px;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 20px;
		line-height: calc(30/20*100%);
		color: #414249;
		margin: 0px 0px 8px 0px;
	}

	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: calc(24/16*100%);
		color: #414249;

		@media (max-width: $breakpoint-medium) {
			font-size: 14px;
			line-height: calc(21/14*100%);
		}

		> br {
			@media (max-width: $breakpoint-medium) {
				display: none;
			}
		}

		&:not(:last-child) {
			margin: 0px 0px 33px 0px;
		}
	}

	.column-mp__image {
		width: auto;
		max-height: 381px;
	}
}
