<footer class="footer">
	<div class="footer__container _container">
		<div class="footer__top top-footer">
			<div class="top-footer__column">
				<div class="top-footer__title">JOLLY DESIGNS Ltd.</div>
				<div class="top-footer__text">
					Jolly Designs GmbH stands for unique, magical and wonderful toys. Our products range from Quiet Books,
					cute accessories for toddlers to wall decor for the nursery.We offer high quality, innovative and
					responsible products for curious and imaginative little minds.
				</div>
			</div>
			<div class="top-footer__column">
				<div class="top-footer__title">Information</div>
				<div class="top-footer__text">
					<ul class="top-footer__list">
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Terms of use</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Delivery</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Privacy and data protection</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Return</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Cancellation policy</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Imprint</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Payment methods</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">General terms and conditions</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Refund Policy</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="top-footer__column pl-10">
				<div class="top-footer__title">About Us</div>
				<div class="top-footer__text">
					<ul class="top-footer__list">
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Our History</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">About Us</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Manufacturing Process</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Trade Fairs</a>
						</li>
						<li class="top-footer__item">
							<a href="" class="top-footer__link">Quiet Books Blog</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="top-footer__column pl-20">
				<div class="top-footer__title">Newsletter</div>
				<form action="#">
					<div class="form-group">
						<input type="email" class="form-input" placeholder="E-mail">
						<i class="icon-error"></i>
						<i class="icon-valid"></i>
					</div>
					<button type="submit" class="form-btn">SUBSCRIBE</button>
				</form>
				<div class="top-footer__text">
					<a href="#" class="top-footer__link links">Create account</a>
					<a href="#" class="top-footer__link links">B2B Log-in</a>
				</div>
			</div>
		</div>
		<div class="footer__bottom bottom-footer">
			<div class="bottom-footer__column payment-column">
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/01.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/02.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/03.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/04.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/05.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/06.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/07.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/08.png" alt="">
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="#" class="bottom-footer__link">
						<img src="img/footer/09.png" alt="">
					</a>
				</div>
			</div>
			<div class="bottom-footer__column name-column">
				<div class="bottom-footer__text">© 2022, Jolly Designs</div>
			</div>
			<div class="bottom-footer__column social-media-column">
				<div class="bottom-footer__image">
					<a href="" class="bottom-footer__link">
						<i class="icon-sm1 sm-icons"></i>
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="" class="bottom-footer__link">
						<i class="icon-sm2 sm-icons"></i>
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="" class="bottom-footer__link">
						<i class="icon-sm3 sm-icons"></i>
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="" class="bottom-footer__link">
						<i class="icon-sm4 sm-icons"></i>
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="" class="bottom-footer__link">
						<i class="icon-sm5 sm-icons"></i>
					</a>
				</div>
				<div class="bottom-footer__image">
					<a href="" class="bottom-footer__link">
						<i class="icon-sm6 sm-icons"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
