@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;600&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1320px;
	margin: 0 auto;
	padding-right: 20px;
	padding-left: 20px;

	@media (max-width: $breakpoint-medium) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: $breakpoint-small) {
		padding: 0;
		//padding-left: 15px;
		//padding-right: 15px;
	}
}

.ibg {
	position: relative;
}

.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.icon-title {
	position: relative;
	display: inline-flex;
	width: 0;
}

.icon-title::after {
	position: absolute;
	content: '';
	top: -77px;
	left: -40px;
	width: 74px;
	height: 67px;
	background-image: url("data:image/svg+xml,%3Csvg width='78' height='69' viewBox='0 0 78 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.4443 6.17488C36.5456 3.52317 31.5209 4.25794 31.9938 7.20685C33.3239 15.5192 34.6434 25.8303 38.8155 33.2502C40.0463 35.4397 43.417 33.8925 43.4716 31.7739C43.7087 23.5325 40.0731 13.8913 37.4443 6.17488Z' fill='%23FF8F8F'/%3E%3Cpath d='M7.08823 30.8248C4.3681 30.1763 2.34642 34.6046 5.09429 35.75C12.8385 38.9808 22.2708 43.2548 30.7544 43.7341C33.2575 43.8759 33.7203 40.3595 31.9537 39.219C25.0944 34.7623 15.0108 32.701 7.08823 30.8248Z' fill='%23FF8F8F'/%3E%3Cpath d='M22.8641 55.9898C16.8786 57.311 11.2918 59.9743 5.66128 62.3716C2.65551 63.6564 4.34757 68.0121 7.41508 66.9387C13.1933 64.926 19.0786 63.1159 24.423 60.0494C26.4094 58.9196 25.0388 55.5024 22.8641 55.9898Z' fill='%23FF8F8F'/%3E%3Cpath d='M70.6961 16.1431C64.7988 21.2954 59.3144 26.8643 53.2636 31.867C50.5545 34.1048 53.2368 38.4813 56.2815 36.3444C63.2747 31.4169 69.7568 25.6961 74.3955 18.5727C75.9124 16.2331 72.4927 14.5687 70.6961 16.1431Z' fill='%23FF8F8F'/%3E%3C/svg%3E%0A");
}

.slick-dots button {
	cursor: pointer;
}

.slick-arrow {
	cursor: pointer;
}

.pl-10 {
	@media (max-width: $breakpoint-medium) {
		padding-left: 10px;
	}
}

.pl-15 {
	@media (max-width: $breakpoint-medium) {
		padding-left: 15px;
	}
}

.pl-17 {
	@media (max-width: $breakpoint-medium) {
		padding-left: 17px;
	}
}

.pl-20 {
	@media (max-width: $breakpoint-medium) {
		padding-left: 20px;
	}
}

.pl-30 {
	@media (max-width: $breakpoint-medium) {
		padding-left: 30px;
	}
}

/* -----PAGE----------------------------------------------------------- */
.page {
	flex: 1 1 auto;

}

.page__categories-slider-mobile {
	display: none;

	@media (max-width: $breakpoint-small) {
		display: block;
	}
}

.page__advantages {
}

.page__bestsellers-slider {
}

.page__categories-slider {
	@media (max-width: $breakpoint-medium) {
		//display: none;
	}

	@media (max-width: $breakpoint-small) {
		order: 1;
	}
}

.page__favorite-books-slider {
}

.page__follow-us {
}

.page__main-slider {
}

.page__making-process {
}

.page__meet-with-team-slider {

}

.page__retailer-stores-slider {
	@media (max-width: $breakpoint-medium) {
		display: none;
	}
}
