@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;600&display=swap');

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container {
	max-width: 1280px;
	margin: 0 auto;
}

.ibg {
	position: relative;
}

.ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.title-with-icon {
	position: relative;
	display: inline-flex;
}

.title-with-icon_r:after {
	position: absolute;
	content: '';
	width: 80px;
	height: 80px;
	right: -10%;
	top: -40%;
	background-image: url("data:image/svg+xml,%3Csvg width='92' height='103' viewBox='0 0 92 103' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.8456 35.66C72.6941 33.5419 69.7526 29.8709 67.4544 31.8012C60.9748 37.2399 52.7849 43.7197 48.3759 50.9844C47.0747 53.1279 49.9475 55.0369 51.7803 53.9685C58.9212 49.8324 65.4727 41.8344 70.8456 35.66Z' fill='%23FF8F8F'/%3E%3Cpath d='M34.5711 21.8932C33.8191 19.1843 29.1353 19.6213 29.483 22.6024C30.4606 31.0054 31.3666 41.4093 35.008 49.0875C36.0823 51.3532 39.2568 50.0043 39.3728 47.8861C39.8469 39.6474 36.7716 29.7766 34.5711 21.8932Z' fill='%23FF8F8F'/%3E%3Cpath d='M20.5177 48.1723C16.4316 43.6321 11.3736 40.1503 6.52543 36.4897C3.933 34.5381 0.973949 38.3215 3.41277 40.4388C7.99875 44.4321 12.461 48.6261 17.7509 51.6826C19.7084 52.8238 22.0087 49.8179 20.5177 48.1723Z' fill='%23FF8F8F'/%3E%3Cpath d='M78.8308 69.4057C71.5445 67.0786 64.0979 65.3237 56.8668 62.7867C53.631 61.6497 51.1484 66.2466 54.4589 67.7236C62.0793 71.1056 70.1377 73.6332 78.5176 73.8467C81.2668 73.9112 81.0546 70.1122 78.8308 69.4057Z' fill='%23FF8F8F'/%3E%3C/svg%3E%0A");
}

.title-with-icon_l:after {
	position: absolute;
	content: '';
	width: 80px;
	height: 70px;
	left: -4%;
	top: -27%;
	background-image: url("data:image/svg+xml,%3Csvg width='78' height='69' viewBox='0 0 78 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.4443 6.17488C36.5456 3.52317 31.5209 4.25794 31.9938 7.20685C33.3239 15.5192 34.6434 25.8303 38.8155 33.2502C40.0463 35.4397 43.417 33.8925 43.4716 31.7739C43.7087 23.5325 40.0731 13.8913 37.4443 6.17488Z' fill='%23FF8F8F'/%3E%3Cpath d='M7.08823 30.8248C4.3681 30.1763 2.34642 34.6046 5.09429 35.75C12.8385 38.9808 22.2708 43.2548 30.7544 43.7341C33.2575 43.8759 33.7203 40.3595 31.9537 39.219C25.0944 34.7623 15.0108 32.701 7.08823 30.8248Z' fill='%23FF8F8F'/%3E%3Cpath d='M22.8641 55.9898C16.8786 57.311 11.2918 59.9743 5.66128 62.3716C2.65551 63.6564 4.34757 68.0121 7.41508 66.9387C13.1933 64.926 19.0786 63.1159 24.423 60.0494C26.4094 58.9196 25.0388 55.5024 22.8641 55.9898Z' fill='%23FF8F8F'/%3E%3Cpath d='M70.6961 16.1431C64.7988 21.2954 59.3144 26.8643 53.2636 31.867C50.5545 34.1048 53.2368 38.4813 56.2815 36.3444C63.2747 31.4169 69.7568 25.6961 74.3955 18.5727C75.9124 16.2331 72.4927 14.5687 70.6961 16.1431Z' fill='%23FF8F8F'/%3E%3C/svg%3E%0A");
}

/* -----PAGE----------------------------------------------------------- */
.page {
	flex: 1 1 auto;
}
